__pycache__/
*/**/__pycache__/

dist/
build/



*.egg-info/
*.egg
*.whl
*.tar.gz
*.zip
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.coverage
*.DS_Store
*.idea/
*.vscode/
*.swp
*.swo
*.bak
*.orig
*.tmp
*.out
*.pid
*.pid.lock